---
title: Le Wagon - Middleman
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg border-radius-small">Start now</a>
  </div>
</div>

<% towns = ["shanghai", "paris", "berlin"] %>

<div class="container">
  <div class="row">
      <% towns.each do |town| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= town %>');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Le Wagon <%= town.capitalize %></h2>
            <p>Very cool city, the best</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

