<ul class="list-inline text-center">
  <% ["yv3s", "elliottyson", "ssaunier", "papillard"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle small-image" %>
      <h3><%= gh_username.capitalize %></h3>
    </li>
  <% end %>
</ul>
